@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-family: 'Jura', sans-serif;
}
:root{
    --main-color:#95B9C7;
    --black:#333;
    --white:#fff;
    --btn-color:#4BB3E2;
    --light-color:#666;
    --border:.2rem solid #4BB3E2;
    --box-shadow:0.5rem 1rem rgba(0,0,0,.1);
}
/*.align{
    max-width: 1200px;
    margin:auto;
    padding: 0 3rem;
}*/
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 5.5rem;
}
header{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
}
.menu{
    background-color: var(--main-color);
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1) ;
}
.logo{
    font-size: 25px;
    color: #fff;
    letter-spacing: 10px;
}
.logo h3{
    font-family: 'Permanent Marker', cursive;
}
.menu ul{
    list-style: none;
    display: flex;
    margin-left: 100px;
}
.menu ul li{
    padding: 10px 15px;
    position: relative;
}
.menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s;
    padding: 10px 10px;
    border-radius: 20px;
}
.heading h3{
    color: #4BB3E2;
}
.menu ul li a:hover{
    background-color: skyblue;
}
.button{
    color: #fff;
    padding: 10px 10px;
    border: 2px solid #4BB3E2;
    border-radius: 30px;
}
.button:hover{
    background-color: #4BB3E2;
}
.full .home {
    background-color: var(--main-color);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 72.5vh;
}
.image img{
    width: 500PX;
    height:500px; 
}
.mainheader h3{
    color: var(--white);
    font-size: 50px;
    margin-left: 50px;
    font-family: 'Permanent Marker', cursive;
}
.mainheader p{
    color: var(--white);
    font-size: 20px;
    margin-top: 10px;
    margin-left: 50px;
}
button{
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid #4BB3E2;
    padding: 10px 10px;
    border-radius: 30px;
    margin-left: 50px;
}
button:hover{
    background-color: #4BB3E2;
}
.mainheader a{
    color:var(--white);
    margin-left: 5%;
    font-size: 20px;
}
.client{
    display: flex;
    gap: 5rem;
    margin-left: 6.1%;
    padding: 15px;
    width: 87.8%;
}
.client img{
    width: 8rem;
}
.heading{
    text-align: center;
    margin-top: 2%;
}
.heading h3{
    font-size: 40px;
    color: var(--main-color);
    font-family: 'Permanent Marker', cursive;
}
.boxcontainer{
    display: flex;
}
.content1{
    width: 130%;
    margin-top: 1rem;
}
.content1 p{
    font-size: 17px;
    margin-left: 5%;
    line-height: 1.3;
}
.content1 i{
    color: #4BB3E2;
}
.content1 a{
    margin-top: 1rem;
    display: block;
    color: black;
    font-size: 18px;
    margin-left: 50px;
}
.content2{
    margin-top: 1rem;
    margin-left: 20%;
}
.content2 p{
    font-size: 17px;
    line-height: 1.5;
}
.content2 button{
    margin-top: 5%;
    border-radius: 5px;
    background-color: var(--border);
    color: #181718;
    border-radius: 20px;
}
.boxcontainer2{
    margin-top: 4%;
    height: 80vh;
    display: grid;
    grid-template-columns: auto auto;
    gap: 6rem;
    background-color: #DFD3E3;
}
.layer1{
    margin-top: 10%;
    margin-left: 4%;
}
.layer1 h3{
    color: var(--main-color);
    font-size: 35px;
    font-weight:lighter;
    font-family: 'Permanent Marker', cursive;
}
.layer1 h2{
    color: var(--main-color);
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}
.layer1 p{
    margin-top: 2%;
    line-height: 1.3;
    font-size: 18px;
    color: black;
}
.layer2{
    margin-top: 4%;
    line-height: 2.5;
}
.layer2 a{
    color: black;
    font-size: 16px;
}
.layerimage img{
    width: 85%;
    margin-top: 8%;
}
.boxcontainer3{
    display: grid;
    grid-template-columns: auto auto;
    gap: 4rem;
    height: 80vh;
}
.boxcontainer3 img{
    width: 100%;
    margin-top: 10%;
    margin-left: 4%;
}
.layout h3{
    margin-top: 5%;
    color: var(--main-color);
    font-size: 35px;
    font-family: 'Permanent Marker', cursive;
}
.layout p{
    margin-top: 2%;
    line-height: 1.4;
    font-size: 17px;
    color: black;
}
.arrange1{
    margin-top: 3%;
    color: black;
    font-weight: bold;
}
.num{
    float: right;
    margin-right: 18%;
}
.lne{
    background-color: var(--main-color);
    width: 82%;
    height: 2vh;
    border-radius: 10px;
}
.in-1{
    background-color: var(--main-color);
    width: 100%;
    height: 2vh;
    border-radius: 10px;
}
.arrange2{
    margin-top: 3%;
    color: black;
    font-weight: bold;
}
.num{
    float: right;
    margin-right: 18%;
}
.lne{
    background-color: var(--light-color);
    width: 82%;
    height: 2vh;
    border-radius: 10px;
}
.in-2{
    background-color: var(--main-color);
    width: 90%;
    height: 2vh;
    border-radius: 10px;
}
.arrange3{
    margin-top: 3%;
    color: black;
    font-weight: bold;
}
.num{
    float: right;
    margin-right: 18%;
}
.lne{
    background-color: var(--light-color);
    width: 82%;
    height: 2vh;
    border-radius: 10px;
}
.in-3{
    background-color: var(--main-color);
    width: 75%;
    height: 2vh;
    border-radius: 10px;
}
.arrange4{
    margin-top: 3%;
    color: black;
    font-weight: bold;
}
.num{
    float: right;
    margin-right: 18%;
}
.lne{
    background-color: var(--light-color);
    width: 82%;
    height: 2vh;
    border-radius: 10px;
}
.in-4{
    background-color: var(--main-color);
    width: 55%;
    height: 2vh;
    border-radius: 10px;
}
.services{
    background-color: #DFD3E3;
    height: auto;
}
.heading{
    text-align: center;
    margin-top: 2%;
}
.heading h3{
    font-size: 40px;
    color: var(--main-color);
    font-family: 'Permanent Marker', cursive;
}
.heading p{
    font-size: 17px;
    line-height: 1.5;
}
.boxcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 2%;
    padding: 25px 35px;
    gap: 1.5rem;
}
.box{
    background-color: var(--white);
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1) ;
}
.box i{
    color: var(--main-color);
    font-size: 25px;
    margin-top: 4%;
    margin-left: 5%;
}
.box h4{
    color: var(--main-color);
    margin-top: 4%;
    margin-left: 5%;
    font-size: 23px;
    font-weight: 500;
}
.box p{
    margin-top: 4%;
    margin-left: 5%;
    line-height: 1.5;
    font-size: 17px;
}
.cards{
    display: grid;
    grid-template-columns: auto auto;
    gap: 15rem;
    background-color: var(--main-color);
    height: 30vh;
    margin-top: 1%;
}
.cards h3{
    color: var(--white);
    margin-top: 3%;
    font-size: 30px;
    font-weight: 500;
    margin-left: 8%;
    font-family: 'Permanent Marker', cursive;
}
.cards p{
    color: var(--white);
    margin-left: 8%;
    margin-top: 1.5%;
    line-height: 1.5;
    font-size: 17px;
    font-weight: lighter;
}
.cards button{
    margin-top: 25%;
    margin-right: 6rem;
    border: 2px solid var(--btn-color);
    font-size: 18px;
    padding: 7px 10px;
}
.heading{
    text-align: center;
    margin-top: 2%;
}
.heading h3{
    font-size: 40px;
    color: var(--main-color);
}
.heading p{
    font-size: 17px;
    line-height: 1.5;
    margin-top: 20px;
}
.colour{
    margin-top: 3%;
    text-align: center;
    border-radius: 30px;
}
.colour a{
    padding: 10px 20px;
    color: var(--black);
    font-size: 17px;
    transition: all 0.3s;
    border-radius: 30px;
}
.colour a:hover{
    background-color: skyblue;
    border-radius: 30px;
}
.boxs{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1.4rem;
    margin-top: 4%;
    margin-left: 5px;
}
.boxs img{
    width: 300px;
    height: 300px;
}
.team{
    background-color: #DFD3E3;
    height: 600px;
}
.heading{
    text-align: center;
    margin-top: 2%;
}
.heading h3{
    font-size: 40px;
    color: var(--main-color);
}
.heading p{
    font-size: 17px;
    line-height: 1.5;
}
.boxcontainer1{
    display: grid;
    grid-template-columns: auto auto;
    gap: 2rem;
    margin-top: 3%;
}
.box1{
    display: flex;
    background-color: #fff;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1) ;
    padding: 20px 10px;
    width: 80%;
    margin-left: 10%;
}
.box1 img{
    width: 26%;
    border-radius: 50%;
    margin-left: 2%;
}
.box1 .group{
    margin-top: 2%;
    margin-left: 7%;
}
.box1 h3{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 600;
}
.box1 h4{
    margin-top: 1.5%;
    font-size: 17px;
    font-weight: 500;
    color: #333;
}
.box1 p{
    margin-top: 2%;
    font-size: 15px;
    color: #666;
    line-height: 1.3;
}
.box1 a{
    color:var(--main-color);
    padding: 5px;
}
.box1 i{
    margin-top: 4%;
    background-color: #f0f0f0;
    padding: 3.5px 6px;
    border-radius: 50px;
}
.pricing{
    height: 600px;
}
.heading{
    text-align: center;
    margin-top: 2%;
}
.heading h3{
    font-size: 40px;
    color: var(--main-color);
}
.heading p{
    font-size: 17px;
    line-height: 1.5;
}
.boxcontainer3{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 3%;
    margin-left: 3.5%;
    gap: 2rem;
}
.box2{
    background-color: white;
    width: 90%;
    height: 60vh;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1) ;
    border-radius: 10px;
}
.box2:hover{
    border-top: 4px solid #4BB3E2;
}
.box2 h3{
    color: var(--main-color);
    font-size: 19px;
    font-weight: 400;
    margin-top: 4%;
    margin-left: 5%;
}
.box2 h2{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
    margin-top: 1%;
    margin-left: 5%;
}
.box2 h4{
    color: var(--main-color);
    font-weight: 400;
    margin-top: 1%;
    margin-left: 5%;
}
.box2 p{
    margin-top: 6%;
    margin-left: 5%;
    color: black;
}
.box2 p i{
    color: skyblue;
}
.cross p{
    text-decoration:line-through;
}
.cross i{
    color: black;
}
.box2 button{
    margin-left: 10%;
    background-color: #fff;
    color: #4BB3E2;
    padding: 8px 5px;
    font-size: 15px;
    border: 1.5px solid #4BB3E2;
    cursor: pointer;
}
.box2 button:hover{
    background-color: #4BB3E2;
    color: #fff;
}
.contact{
    height: 600px;
    background-color: #DFD3E3;

}
.heading{
    text-align: center;
    margin-top: 2%;
}
.heading h3{
    font-size: 40px;
    color: var(--main-color);
}
.heading p{
    font-size: 17px;
    line-height: 1.5;
}
.boxcontainer4{
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 2%;
    margin-left: 5%;
}
.info{
    background-color: #ffffff;
    width: 80%;
    height: 65vh;
    margin-left: 7%;
    box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.3) ;
    border-top: 2px solid #4BB3E2;
    border-bottom: 2px solid #4BB3E2;
}
.add{
    margin-top: 5%;
    margin-left: 10%;
}
.add a{
    color: #4BB3E2;
    font-size: 20px;
}
.add i{
    background-color: #dae6ec;
    padding: 6px 5.5px;
    border-radius: 50px;
}
.info h3{
    color: var(--main-color);
    margin-top: 3%;
    font-size: 22px;
}
.info p{
    color: black;
    font-size: 14px;
    margin-top: 1%;
}
.container{
    margin-left: 10%;
    width: 80%;
    height: 65vh;
    padding: 35px 35px;
    box-shadow: 1px 2px 15px 5px rgba(0, 0, 0, 0.3) ;
    border-top: 2px solid #4BB3E2;
    border-bottom: 2px solid #4BB3E2;
    background-color: white;
}
.card-details{
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
}
.card-box{
    width: calc(100%/ 2 - 20px);
    margin-bottom: 15px;
    color: black;
}
.card-box span{
    color: black;
}
.details{
    color: black;
    display: block;
    font-weight: 500;
    margin-bottom: 7px;
}
.card-box input{
    height: 35px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 16px;
}
.card-box input:focus,
.card-box input:valid{
    border: 2px solid black;
}
input, label{
    color: black
}
input, textarea{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 2px solid black;
}
input, textarea, placeholder{
font-size: 15px;
}
form .buttons{
    text-align: center;
}
form .buttons input{
    padding: 10px 0;
    margin-top: 5%;
    height: 100%;
    width: 20%;
    outline: none;
    color: #ffffff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
    background-color:#4BB3E2;
}
form .buttons input:hover{
    opacity: 0.6;
}
.foot{
    height: 40vh;
}
.heading{
    text-align: center;
}
.heading h3{
    font-size: 25px;
    color: var(--main-color);
}
.heading p{
    font-size: 17px;
    line-height: 1.5;
}
.boxes {
   margin-left: 35%;
}
.boxes form input{
    width: 40%;
    height: 40px;
    border-radius: 20px;
}
.boxes form button{
    height: 45px;
    background-color: #4BB3E2;
}



@media screen and (max-width:420px){
    .menu{
        height: 50vh;
    }
    .logo{
        margin-left: 0%;
        font-size: 20px;
    }
    .menu ul{
        margin-left: 1rem;
        display: block;
    }
    .menu ul li{
        padding: 3px 6px;
        margin-top: 5px;
    }
    .menuul li a{
        font-size: 17px;
   }
   html{
    scroll-padding-top: 16.5rem;
   }
    .image img{
        width: 12rem;
        height: 15rem;
        margin-right: 1rem;
    }
    .mainheader h3{
        font-size: 30px;
    }
    .mainheader button{
        margin-bottom: 10px;
    }
    .mainheader p{
        font-size: 15px;
    }
    .mainheader .bttn{
        margin-top: 10px;
    }
    .mainheader a{
        display: flex;
        margin-left: 50px;
    }
    .content h3{
        margin-left: 5%;
        font-size: 23px;
    }
    .content p{
        margin-left: 5%;
        font-size: 15px;
    }
    button{
        font-size: 15px;
        padding: 3px 5px;
    }
    .content a{
        font-size: 15px;
        margin-left: 1%;
    }
    .client{
        gap: 1rem;
        margin-left: 2%;
    }
    .client img{
        width: 3rem;
    }
    .boxcontainer{
        display: flex;
        flex-direction: column;
    }
    .content1{
        width: 100%;
    }
    .content1 p{
        font-size: 16px;
    }
    .content1 a{
        font-size: 14.5px;
        margin-left: 2%;
    }
    .content2{
        margin-right: 50px;
    }
    .content2 p{
        font-size: 16px;
        margin-right: 20px;
    }
    .boxcontainer2{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .layerimage img{
        width: 100%;
        margin-top: .5%;
    }
    .boxcontainer3{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .boxcontainer3 img{
        margin-left: 2.5%;
        width: 95%;
    }
    .layout{
        margin-left: 3%;
    }
    .layout h3{
        margin-top: 1%;
    }
    .arrange1{
        margin-left: 30px;
    }
    .arrange2{
        margin-left: 30px;
    }
    .arrange3{
        margin-left: 30px;
    }
    .arrange4{
        margin-left: 30px;
    }
    .line-1{
        margin-left: 5%;
    }
    .line-2{
        margin-left: 5%;
    }
    .line-3{
        margin-left: 5%;
    }
    .line-4{
        margin-left: 5%;
    }
    .box-container{
        display: flex;
        flex-direction: column;
    }
    .action{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1rem;
    }
    .action button{
        margin-top: 1%;
        margin-left: 7%;
       border: 1.7px solid #fff;
       font-size: 15px;
       padding: 7px 8px;
    }
    .cards{
        display: block;
        height: 300px;
    }
    .card2{
        margin-bottom: 50%;
    }
    .boxs{
        display: flex;
        flex-direction: column;
        margin-left: 14%;
    }
    .team{
        height: auto;
    }
    .boxcontainer1{
        display: block;
    }
    .box1{
        margin-top: 1rem;
    }
    .pricing{
        height: auto;
    }
    .boxcontainer3{
        display: block;

        height: auto;
        
    }
    .box2{
        height: 400px;
        margin-left: 4%;
        margin-top: 20px;
    }
    .contact{
        height: auto;
    }
    .boxcontainer4{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .container{
        margin-left: 7%;
        height: 500px;
    }
    .buttons {
        width: 330px;
    }

}
@media screen and (max-width:760px){
    .menu{
        height: 50vh;
    }
    .logo{
        margin-left: 0%;
        font-size: 20px;
    }
    .menu ul{
        margin-left: 1rem;
        display: block;
    }
    .menu ul li{
        padding: 3px 6px;
        margin-top: 5px;
    }
    .menuul li a{
        font-size: 17px;
   }
   html{
    scroll-padding-top: 16.5rem;
   }
    .image img{
        width: 12rem;
        height: 15rem;
        margin-right: 1rem;
    }
    .mainheader h3{
        font-size: 30px;
    }
    .mainheader button{
        margin-bottom: 10px;
    }
    .mainheader p{
        font-size: 15px;
    }
    .mainheader .bttn{
        margin-top: 10px;
    }
    .mainheader a{
        display: flex;
        margin-left: 50px;
    }
    .content h3{
        margin-left: 5%;
        font-size: 23px;
    }
    .content p{
        margin-left: 5%;
        font-size: 15px;
    }
    button{
        font-size: 15px;
        padding: 3px 5px;
    }
    .content a{
        font-size: 15px;
        margin-left: 1%;
    }
    .client{
        gap: 1rem;
        margin-left: 2%;
    }
    .client img{
        width: 3rem;
    }
    .boxcontainer{
        display: flex;
        flex-direction: column;
    }
    .content1{
        width: 100%;
    }
    .content1 p{
        font-size: 16px;
    }
    .content1 a{
        font-size: 14.5px;
        margin-left: 2%;
    }
    .content2{
        margin-right: 50px;
    }
    .content2 p{
        font-size: 16px;
        margin-right: 20px;
    }
    .boxcontainer2{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .layerimage img{
        width: 100%;
        margin-top: .5%;
    }
    .boxcontainer3{
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .boxcontainer3 img{
        margin-left: 2.5%;
        width: 95%;
    }
    .layout{
        margin-left: 3%;
    }
    .layout h3{
        margin-top: 1%;
    }
    .arrange1{
        margin-left: 30px;
    }
    .arrange2{
        margin-left: 30px;
    }
    .arrange3{
        margin-left: 30px;
    }
    .arrange4{
        margin-left: 30px;
    }
    .line-1{
        margin-left: 5%;
    }
    .line-2{
        margin-left: 5%;
    }
    .line-3{
        margin-left: 5%;
    }
    .line-4{
        margin-left: 5%;
    }
    .box-container{
        display: flex;
        flex-direction: column;
    }
    .action{
        display: flex;
        flex-direction: column;
        height: auto;
        gap: 1rem;
    }
    .action button{
        margin-top: 1%;
        margin-left: 7%;
       border: 1.7px solid #fff;
       font-size: 15px;
       padding: 7px 8px;
    }
    .cards{
        display: block;
        height: 300px;
    }
    .card2{
        margin-bottom: 50%;
    }
    .boxs{
        display: flex;
        flex-direction: column;
        margin-left: 14%;
    }
    .team{
        height: auto;
    }
    .boxcontainer1{
        display: block;
    }
    .box1{
        margin-top: 1rem;
    }
    .pricing{
        height: auto;
    }
    .boxcontainer3{
        display: block;
        
        height: auto;
        
    }
    .box2{
        height: 400px;
        margin-left: 4%;
        margin-top: 20px;
    }
    .contact{
        height: auto;
    }
    .boxcontainer4{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
    .container{
        margin-left: 7%;
        height: 500px;
    }
    .buttons {
        width: 330px;
    }

}

